@charset "utf-8";

@font-face {
  font-family: 'Digital';
  src: url('../fonts/DS-DIGI.TTF')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Digital Bold';
  src: url('../fonts/DS-DIGIB.TTF')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Digital Italic';
  src: url('../fonts/DS-DIGII.TTF')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Digital Bold Italic';
  src: url('../fonts/DS-DIGIT.TTF')  format('truetype') /* Safari, Android, iOS */
}


* {
  background: #C0C0C0;
  box-sizing: border-box;
}

.red {
  background-color: red;
}

#game {
  background: #C0C0C0;
  border-width: 4px;
  border-top-color: #FEFEFE;
  border-left-color: #FEFEFE;
  border-right-color: #808080;
  border-bottom-color: #808080;
  border-style: solid;
  padding: 10px;
  position: absolute;
}

#controls {
  width: 100%;
  height: 50px;
  background: #C0C0C0;
  border-width: 4px;
  border-right-color: #FEFEFE;
  border-bottom-color: #FEFEFE;
  border-left-color: #808080;
  border-top-color: #808080;
  border-style: solid;
  margin-bottom: 10px;
  position: relative;
}

#field {
  background: #C0C0C0;
  border-spacing: 0;
  border-width: 4px;
  border-right-color: #FEFEFE;
  border-bottom-color: #FEFEFE;
  border-left-color: #808080;
  border-top-color: #808080;
  border-style: solid;
  border-collapse: separate;
}

td {
  background: #C0C0C0;
  height: 40px;
  width: 40px;
  border-width: 4px;
  border-top-color: #FEFEFE;
  border-left-color: #FEFEFE;
  border-right-color: #808080;
  border-bottom-color: #808080;
  border-style: solid;

  background-size: 28px;
  background-position: center center;
  background-repeat: no-repeat;

  &.open {
    border-width: 1px;
    border-top-color: #808080;
    border-left-color: #808080;
  }

  &.one {
    background-image: url('../images/one.jpg');
  }
  &.two {
    background-image: url('../images/two.jpg');
  }
  &.three {
    background-image: url('../images/three.jpg');
  }
  &.four {
    background-image: url('../images/four.jpg');
  }
  &.five {
    background-image: url('../images/five.jpg');
  }
  &.six {
    background-image: url('../images/six.jpg');
  }
  &.seven {
    background-image: url('../images/seven.jpg');
  }
  &.eight {
    background-image: url('../images/eight.jpg');
  }
  &.flagged {
    background-image: url('../images/flag.jpg');
    background-size: 20px;
  }
  &.mine {
    background-image: url('../images/mine.png');
    background-size: 30px;
  }
}


#face {
  background-image: url('../images/smile.jpg');
  background-size: 100%;
  background-position: center center;
  background-color: #C0C0C0;
  height: 40px;
  width: 40px;
  border-width: 4px;
  border-top-color: #FEFEFE;
  border-left-color: #FEFEFE;
  border-right-color: #808080;
  border-bottom-color: #808080;
  border-style: solid;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;

  &.ooo {
    background-image: url('../images/ooo.jpg');
  }
  &.dead {
    background-image: url('../images/dead.jpg');
  }
  &.dude {
    background-image: url('../images/dude.jpg');
  }
}

#time, #mine-count {
  font-family: 'Digital Bold', sans-serif;
  font-size: 43px;
  color: red;
  background-color: black;
  display: inline;
  padding: 0 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 83px;
}
#time {
  left: 0;
}
#mine-count {
  right: 0;
}